@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IAccountService AccountService

<div class="p-4">
    <div class="container">
        <h1>Hi @AccountService.User.UserType!</h1>
        <p>You're logged in </p>
        @* <p>
            <NavLink href="users">Manage Users</NavLink>
            </p> *@
    </div>
</div>